@page
@model ListModel
@{
}
<h1> Restraurants..</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="searchTerm" />
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>

<table class="table">
    @foreach (var item in Model.foodItems)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.FoodType</td>
            <td>@item.SpiceLevel</td>
        </tr>
    }
</table>

<div>@Model.Message </div>